parameters:
    level: 9
    paths:
        - ./src
        - ./tests
    ignoreErrors:
        -
            message: "#^Method BitOps\\\\Constants\\\\Permissions\\:\\:getConstants\\(\\) should return array\\<string, int\\> but returns array\\<string, mixed\\>\\.$#"
            count: 1
            path: src/Constants/Permissions.php
        -
            message: "#^Method BitOps\\\\Constants\\\\UserStatus\\:\\:getConstants\\(\\) should return array\\<string, int\\> but returns array\\<string, mixed\\>\\.$#"
            count: 1
            path: src/Constants/UserStatus.php
    checkMissingIterableValueType: false
